 <footer class="footer">
      <div class="footer-container">
        <div class="footer-column contact-info">
          <img src="/images/logo.png" alt="Yes" style="height: 40px;" />
          <p>Tenes alguna pregunta?<br><h3>TLF: (11) 370.22.00</h3></p>
         
          <iframe
  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d171136.12887172622!2d-58.362542171502184!3d-34.54386024246514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sar!4v1748215625861!5m2!1sen!2sar"
  width="250"
  height="130"
  style="border:0; border-radius: 12px; overflow: hidden; max-width: 100%;"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade">
</iframe>

          
          
          <div class="social-icons">
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-tiktok"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <p>© Yesika Carolina Perez Ravelo 2025. Todos los derechos reservados.</p>
        </div>
    
        <div class="footer-column">
          <h4>Nosotros</h4>
          <ul>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Nosotros</a></li>
          </ul>
        </div>
    
        <div class="footer-column">
          <h4>Formas de Pago</h4>
          <ul>

            <li><a href="#">Mercado Pago</a></li>
            <li><a href="#">Transferencia</a></li>
            <li><a href="#">Modo</a></li>
        
          </ul>
        </div>
    
        <div class="footer-column">
          <h4>Legal</h4>
          <ul>
            <li><a href="#">Terminos & Condiciones</a></li>
            <li><a href="#">Metodos de Pago</a></li>

          </ul>
        </div>
    
        <div class="footer-column newsletter">
          <h4>Envianos un mensaje</h4>
          <form action="https://formspree.io/f/xpwdazal" method="POST">
            <label>
              <input type="email" name="email" placeholder="Email address" required />
            </label>
            <label>
              <textarea name="message" placeholder="Write your message here" rows="4"></textarea>
            </label>
           
            <button class="btn-rounded" type="submit">Enviar</button>
          </form>
        </div>
        
    </footer>