<section class="review-carousel">
 
  <div class="carousel-track" id="carousel-track">

    
    
    <div class="review-card">
      <img src="/images/users.png" alt="Usuario 1" class="user-avatar" />
      <div class="stars">★★★★★</div>
      <p class="review-text">“¡Entrenamientos geniales! Mi cuerpo y mente mejoraron muchísimo.”</p>
      <div class="review-meta">
        <span>Carla - 12/03/2024</span>
      </div>
    </div>


    <div class="review-card">
      <img src="/images/users.png" alt="Usuario 2" class="user-avatar" />
      <div class="stars">★★★★★</div>
      <p class="review-text">“Profes muy dedicados. Me siento motivado cada día.”</p>
      <div class="review-meta">
        <span>Leo - 10/02/2024</span>
      </div>
    </div>


    <div class="review-card">
      <img src="/images/users.png" alt="Usuario 3" class="user-avatar" />
      <div class="stars">★★★★☆</div>
      <p class="review-text">“¡Excelente app! Solo le agregaría más clases de yoga.”</p>
      <div class="review-meta">
        <span>Martina - 28/01/2024</span>
      </div>
    </div>


  </div>


  <div class="carousel-dots" id="carousel-dots"></div>
</section>
